-- =====================================================
-- 添加10天涨跌%字段到 historical_quotes 表
-- =====================================================

-- 1. 检查当前表结构
SELECT '当前表结构:' as info;
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'historical_quotes' 
AND column_name IN ('five_day_change_percent', 'ten_day_change_percent')
ORDER BY ordinal_position;

-- 2. 添加10天涨跌%字段（如果不存在）
DO $$
BEGIN
    IF NOT EXISTS (
        SELECT 1 FROM information_schema.columns 
        WHERE table_name = 'historical_quotes' 
        AND column_name = 'ten_day_change_percent'
    ) THEN
        ALTER TABLE historical_quotes ADD COLUMN ten_day_change_percent DECIMAL(8,2);
        RAISE NOTICE '10天涨跌%字段添加成功';
    ELSE
        RAISE NOTICE '10天涨跌%字段已存在';
    END IF;
END $$;

-- 3. 验证字段添加结果
SELECT '添加后的字段:' as info;
SELECT column_name, data_type, is_nullable, column_default 
FROM information_schema.columns 
WHERE table_name = 'historical_quotes' 
AND column_name IN ('five_day_change_percent', 'ten_day_change_percent')
ORDER BY ordinal_position;

-- 4. 创建10天涨跌%计算函数
CREATE OR REPLACE FUNCTION calculate_ten_day_change(p_stock_code VARCHAR(20))
RETURNS VOID AS $$
BEGIN
    UPDATE historical_quotes h1
    SET ten_day_change_percent = (
        SELECT CASE
            WHEN h2.close > 0 THEN ((h1.close - h2.close) / h2.close * 100)
            ELSE NULL
        END
        FROM historical_quotes h2
        WHERE h2.code = h1.code
        AND h2.date = (
            SELECT MAX(date)
            FROM historical_quotes h3
            WHERE h3.code = h1.code
            AND h3.date < h1.date
            AND h3.date >= h1.date - INTERVAL '14 days'  -- 10个工作日大约需要14天
        )
    )
    WHERE h1.code = p_stock_code;
END;
$$ LANGUAGE plpgsql;

-- 5. 创建批量计算10天涨跌%的函数
CREATE OR REPLACE FUNCTION calculate_all_ten_day_change()
RETURNS INTEGER AS $$
DECLARE
    stock_record RECORD;
    count_updated INTEGER := 0;
BEGIN
    FOR stock_record IN 
        SELECT DISTINCT code FROM historical_quotes 
        WHERE ten_day_change_percent IS NULL
    LOOP
        PERFORM calculate_ten_day_change(stock_record.code);
        count_updated := count_updated + 1;
    END LOOP;
    
    RETURN count_updated;
END;
$$ LANGUAGE plpgsql;

-- 6. 显示函数创建结果
SELECT '函数创建完成' as info;
SELECT routine_name, routine_type 
FROM information_schema.routines 
WHERE routine_name IN ('calculate_ten_day_change', 'calculate_all_ten_day_change');
