--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id bigint NOT NULL,
    username text,
    password_hash text,
    role text DEFAULT 'admin'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admins_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: data_collection_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.data_collection_log (
    id bigint NOT NULL,
    data_type text,
    stock_code text,
    status text,
    error_message text,
    collect_time timestamp with time zone
);


ALTER TABLE public.data_collection_log OWNER TO postgres;

--
-- Name: historical_collect_operation_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historical_collect_operation_logs (
    id bigint NOT NULL,
    operation_type text,
    operation_desc text,
    affected_rows bigint,
    status text,
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.historical_collect_operation_logs OWNER TO postgres;

--
-- Name: historical_collect_operation_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.historical_collect_operation_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historical_collect_operation_logs_id_seq OWNER TO postgres;

--
-- Name: historical_collect_operation_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.historical_collect_operation_logs_id_seq OWNED BY public.historical_collect_operation_logs.id;


--
-- Name: historical_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historical_quotes (
    code text NOT NULL,
    name text,
    market text,
    date text NOT NULL,
    open real,
    high real,
    low real,
    close real,
    volume real,
    amount real,
    change_percent real,
    collected_date timestamp without time zone,
    ts_code text,
    collected_source text,
    pre_close real,
    change real,
    turnover_rate real,
    amplitude real
);


ALTER TABLE public.historical_quotes OWNER TO postgres;

--
-- Name: COLUMN historical_quotes.pre_close; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.historical_quotes.pre_close IS '鏄ㄦ敹浠?;


--
-- Name: COLUMN historical_quotes.change; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.historical_quotes.change IS '娑ㄨ穼棰?;


--
-- Name: COLUMN historical_quotes.turnover_rate; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.historical_quotes.turnover_rate IS '鎹㈡墜鐜?;


--
-- Name: COLUMN historical_quotes.amplitude; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.historical_quotes.amplitude IS '鎸箙';


--
-- Name: index_realtime_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.index_realtime_quotes (
    code text NOT NULL,
    name text,
    price real,
    change real,
    pct_chg real,
    open real,
    pre_close real,
    high real,
    low real,
    volume real,
    amount real,
    amplitude real,
    turnover real,
    pe real,
    volume_ratio real,
    update_time text NOT NULL,
    collect_time text,
    index_spot_type integer NOT NULL
);


ALTER TABLE public.index_realtime_quotes OWNER TO postgres;

--
-- Name: industry_board_realtime_quotes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.industry_board_realtime_quotes (
    board_code text NOT NULL,
    board_name text,
    latest_price real,
    change_amount real,
    change_percent real,
    total_market_value real,
    volume real,
    amount real,
    turnover_rate real,
    leading_stock_name text,
    leading_stock_change_percent real,
    leading_stock_code text,
    update_time timestamp without time zone NOT NULL
);


ALTER TABLE public.industry_board_realtime_quotes OWNER TO postgres;

--
-- Name: operation_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.operation_logs (
    id bigint NOT NULL,
    user_id bigint,
    action text,
    stock_code text,
    stock_name text,
    group_name text,
    "timestamp" text
);


ALTER TABLE public.operation_logs OWNER TO postgres;

--
-- Name: operation_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.operation_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.operation_logs_id_seq OWNER TO postgres;

--
-- Name: operation_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.operation_logs_id_seq OWNED BY public.operation_logs.id;


--
-- Name: price_alerts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.price_alerts (
    id bigint NOT NULL,
    user_id bigint,
    stock_code text,
    stock_name text,
    condition_type text,
    target_price real,
    current_price real,
    status text DEFAULT 'active'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    triggered_at timestamp without time zone
);


ALTER TABLE public.price_alerts OWNER TO postgres;

--
-- Name: quote_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quote_data (
    id bigint NOT NULL,
    stock_code text,
    stock_name text,
    trade_date date,
    open double precision,
    high double precision,
    low double precision,
    last_price double precision,
    pre_close double precision,
    change_percent double precision,
    volume double precision,
    amount double precision,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.quote_data OWNER TO postgres;

--
-- Name: quote_sync_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quote_sync_tasks (
    id bigint NOT NULL,
    task_type text,
    status text,
    progress double precision,
    error_message text,
    started_at timestamp with time zone,
    completed_at timestamp with time zone,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.quote_sync_tasks OWNER TO postgres;

--
-- Name: realtime_collect_operation_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.realtime_collect_operation_logs (
    id bigint NOT NULL,
    operation_type text,
    operation_desc text,
    affected_rows bigint,
    status text,
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.realtime_collect_operation_logs OWNER TO postgres;

--
-- Name: realtime_collect_operation_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.realtime_collect_operation_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.realtime_collect_operation_logs_id_seq OWNER TO postgres;

--
-- Name: realtime_collect_operation_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.realtime_collect_operation_logs_id_seq OWNED BY public.realtime_collect_operation_logs.id;


--
-- Name: stock_basic_info; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_basic_info (
    code text NOT NULL,
    name text,
    create_date timestamp without time zone,
    total_share real
);


ALTER TABLE public.stock_basic_info OWNER TO postgres;

--
-- Name: COLUMN stock_basic_info.total_share; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.stock_basic_info.total_share IS '鎬昏偂鏈暟';


--
-- Name: stock_basic_info_bak; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_basic_info_bak (
    code text,
    name text
);


ALTER TABLE public.stock_basic_info_bak OWNER TO postgres;

--
-- Name: stock_news; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_news (
    id bigint NOT NULL,
    stock_code text,
    title text,
    content text,
    keywords text,
    publish_time text,
    source text,
    url text,
    summary text,
    type text,
    rating text,
    target_price text,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.stock_news OWNER TO postgres;

--
-- Name: stock_news_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_news_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_news_id_seq OWNER TO postgres;

--
-- Name: stock_news_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_news_id_seq OWNED BY public.stock_news.id;


--
-- Name: stock_notice_report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_notice_report (
    id bigint NOT NULL,
    code text,
    name text,
    notice_title text,
    notice_type text,
    publish_date text,
    url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stock_notice_report OWNER TO postgres;

--
-- Name: stock_notice_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_notice_report_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_notice_report_id_seq OWNER TO postgres;

--
-- Name: stock_notice_report_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_notice_report_id_seq OWNED BY public.stock_notice_report.id;


--
-- Name: stock_realtime_quote; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_realtime_quote (
    code text NOT NULL,
    name text,
    current_price real,
    change_percent real,
    volume real,
    amount real,
    high real,
    low real,
    open real,
    pre_close real,
    turnover_rate real,
    pe_dynamic real,
    total_market_value real,
    pb_ratio real,
    circulating_market_value real,
    update_time timestamp without time zone
);


ALTER TABLE public.stock_realtime_quote OWNER TO postgres;

--
-- Name: stock_research_reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_research_reports (
    id bigint NOT NULL,
    stock_code text,
    stock_name text,
    report_name text,
    dongcai_rating text,
    institution text,
    monthly_report_count bigint DEFAULT '0'::bigint,
    profit_2024 real,
    pe_2024 real,
    profit_2025 real,
    pe_2025 real,
    profit_2026 real,
    pe_2026 real,
    industry text,
    report_date text,
    pdf_url text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.stock_research_reports OWNER TO postgres;

--
-- Name: stock_research_reports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.stock_research_reports_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.stock_research_reports_id_seq OWNER TO postgres;

--
-- Name: stock_research_reports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.stock_research_reports_id_seq OWNED BY public.stock_research_reports.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    username text,
    email text,
    password_hash text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login timestamp without time zone,
    status text DEFAULT 'active'::text,
    role character varying DEFAULT 'user'::character varying
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: watchlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlist (
    id bigint NOT NULL,
    user_id bigint,
    stock_code text,
    stock_name text,
    group_name text DEFAULT 'default'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.watchlist OWNER TO postgres;

--
-- Name: watchlist_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlist_groups (
    id bigint NOT NULL,
    user_id bigint,
    group_name text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.watchlist_groups OWNER TO postgres;

--
-- Name: watchlist_history_collection_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.watchlist_history_collection_logs (
    id integer NOT NULL,
    stock_code character varying(20),
    affected_rows integer,
    status character varying(20),
    error_message text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.watchlist_history_collection_logs OWNER TO postgres;

--
-- Name: watchlist_history_collection_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.watchlist_history_collection_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watchlist_history_collection_logs_id_seq OWNER TO postgres;

--
-- Name: watchlist_history_collection_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.watchlist_history_collection_logs_id_seq OWNED BY public.watchlist_history_collection_logs.id;


--
-- Name: watchlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.watchlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.watchlist_id_seq OWNER TO postgres;

--
-- Name: watchlist_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.watchlist_id_seq OWNED BY public.watchlist.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: historical_collect_operation_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historical_collect_operation_logs ALTER COLUMN id SET DEFAULT nextval('public.historical_collect_operation_logs_id_seq'::regclass);


--
-- Name: operation_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operation_logs ALTER COLUMN id SET DEFAULT nextval('public.operation_logs_id_seq'::regclass);


--
-- Name: realtime_collect_operation_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.realtime_collect_operation_logs ALTER COLUMN id SET DEFAULT nextval('public.realtime_collect_operation_logs_id_seq'::regclass);


--
-- Name: stock_news id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_news ALTER COLUMN id SET DEFAULT nextval('public.stock_news_id_seq'::regclass);


--
-- Name: stock_notice_report id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_notice_report ALTER COLUMN id SET DEFAULT nextval('public.stock_notice_report_id_seq'::regclass);


--
-- Name: stock_research_reports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_research_reports ALTER COLUMN id SET DEFAULT nextval('public.stock_research_reports_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: watchlist id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist ALTER COLUMN id SET DEFAULT nextval('public.watchlist_id_seq'::regclass);


--
-- Name: watchlist_history_collection_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_history_collection_logs ALTER COLUMN id SET DEFAULT nextval('public.watchlist_history_collection_logs_id_seq'::regclass);


--
-- Name: historical_quotes historical_quotes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historical_quotes
    ADD CONSTRAINT historical_quotes_pkey PRIMARY KEY (code, date);


--
-- Name: users idx_16389_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT idx_16389_users_pkey PRIMARY KEY (id);


--
-- Name: watchlist idx_16398_watchlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT idx_16398_watchlist_pkey PRIMARY KEY (id);


--
-- Name: price_alerts idx_16406_price_alerts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_alerts
    ADD CONSTRAINT idx_16406_price_alerts_pkey PRIMARY KEY (id);


--
-- Name: admins idx_16414_admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT idx_16414_admins_pkey PRIMARY KEY (id);


--
-- Name: watchlist_groups idx_16422_watchlist_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_groups
    ADD CONSTRAINT idx_16422_watchlist_groups_pkey PRIMARY KEY (id);


--
-- Name: data_collection_log idx_16428_data_collection_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.data_collection_log
    ADD CONSTRAINT idx_16428_data_collection_log_pkey PRIMARY KEY (id);


--
-- Name: quote_data idx_16433_ix_quote_data_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quote_data
    ADD CONSTRAINT idx_16433_ix_quote_data_id PRIMARY KEY (id);


--
-- Name: quote_sync_tasks idx_16438_ix_quote_sync_tasks_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quote_sync_tasks
    ADD CONSTRAINT idx_16438_ix_quote_sync_tasks_id PRIMARY KEY (id);


--
-- Name: historical_collect_operation_logs idx_16449_historical_collect_operation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historical_collect_operation_logs
    ADD CONSTRAINT idx_16449_historical_collect_operation_logs_pkey PRIMARY KEY (id);


--
-- Name: stock_basic_info idx_16461_sqlite_autoindex_stock_basic_info_1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_basic_info
    ADD CONSTRAINT idx_16461_sqlite_autoindex_stock_basic_info_1 PRIMARY KEY (code);


--
-- Name: realtime_collect_operation_logs idx_16472_realtime_collect_operation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.realtime_collect_operation_logs
    ADD CONSTRAINT idx_16472_realtime_collect_operation_logs_pkey PRIMARY KEY (id);


--
-- Name: operation_logs idx_16480_operation_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.operation_logs
    ADD CONSTRAINT idx_16480_operation_logs_pkey PRIMARY KEY (id);


--
-- Name: index_realtime_quotes idx_16486_sqlite_autoindex_index_realtime_quotes_1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.index_realtime_quotes
    ADD CONSTRAINT idx_16486_sqlite_autoindex_index_realtime_quotes_1 PRIMARY KEY (code, update_time, index_spot_type);


--
-- Name: industry_board_realtime_quotes idx_16491_sqlite_autoindex_industry_board_realtime_quotes_1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.industry_board_realtime_quotes
    ADD CONSTRAINT idx_16491_sqlite_autoindex_industry_board_realtime_quotes_1 PRIMARY KEY (board_code, update_time);


--
-- Name: stock_news idx_16496_ix_stock_news_id; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_news
    ADD CONSTRAINT idx_16496_ix_stock_news_id PRIMARY KEY (id);


--
-- Name: stock_notice_report idx_16502_stock_notice_report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_notice_report
    ADD CONSTRAINT idx_16502_stock_notice_report_pkey PRIMARY KEY (id);


--
-- Name: stock_research_reports idx_16511_stock_research_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_research_reports
    ADD CONSTRAINT idx_16511_stock_research_reports_pkey PRIMARY KEY (id);


--
-- Name: stock_realtime_quote stock_realtime_quote_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_realtime_quote
    ADD CONSTRAINT stock_realtime_quote_pkey PRIMARY KEY (code);


--
-- Name: watchlist_history_collection_logs watchlist_history_collection_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist_history_collection_logs
    ADD CONSTRAINT watchlist_history_collection_logs_pkey PRIMARY KEY (id);


--
-- Name: idx_16389_sqlite_autoindex_users_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16389_sqlite_autoindex_users_1 ON public.users USING btree (username);


--
-- Name: idx_16389_sqlite_autoindex_users_2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16389_sqlite_autoindex_users_2 ON public.users USING btree (email);


--
-- Name: idx_16398_sqlite_autoindex_watchlist_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16398_sqlite_autoindex_watchlist_1 ON public.watchlist USING btree (user_id, stock_code);


--
-- Name: idx_16414_sqlite_autoindex_admins_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16414_sqlite_autoindex_admins_1 ON public.admins USING btree (username);


--
-- Name: idx_16422_sqlite_autoindex_watchlist_groups_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16422_sqlite_autoindex_watchlist_groups_1 ON public.watchlist_groups USING btree (user_id, group_name);


--
-- Name: idx_16433_ix_quote_data_stock_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16433_ix_quote_data_stock_code ON public.quote_data USING btree (stock_code);


--
-- Name: idx_16433_ix_quote_data_trade_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16433_ix_quote_data_trade_date ON public.quote_data USING btree (trade_date);


--
-- Name: idx_16496_idx_stock_news_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16496_idx_stock_news_code ON public.stock_news USING btree (stock_code);


--
-- Name: idx_16496_idx_stock_news_publish_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16496_idx_stock_news_publish_time ON public.stock_news USING btree (publish_time);


--
-- Name: idx_16496_idx_stock_news_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16496_idx_stock_news_type ON public.stock_news USING btree (type);


--
-- Name: idx_16496_ix_stock_news_stock_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16496_ix_stock_news_stock_code ON public.stock_news USING btree (stock_code);


--
-- Name: idx_16502_idx_stock_notice_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16502_idx_stock_notice_code ON public.stock_notice_report USING btree (code);


--
-- Name: idx_16502_idx_stock_notice_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16502_idx_stock_notice_date ON public.stock_notice_report USING btree (publish_date);


--
-- Name: idx_16502_idx_stock_notice_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16502_idx_stock_notice_type ON public.stock_notice_report USING btree (notice_type);


--
-- Name: idx_16502_sqlite_autoindex_stock_notice_report_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16502_sqlite_autoindex_stock_notice_report_1 ON public.stock_notice_report USING btree (code, notice_title, publish_date);


--
-- Name: idx_16511_idx_stock_research_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16511_idx_stock_research_code ON public.stock_research_reports USING btree (stock_code);


--
-- Name: idx_16511_idx_stock_research_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16511_idx_stock_research_date ON public.stock_research_reports USING btree (report_date);


--
-- Name: idx_16511_idx_stock_research_institution; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16511_idx_stock_research_institution ON public.stock_research_reports USING btree (institution);


--
-- Name: idx_16511_idx_stock_research_rating; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_16511_idx_stock_research_rating ON public.stock_research_reports USING btree (dongcai_rating);


--
-- Name: idx_16511_sqlite_autoindex_stock_research_reports_1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_16511_sqlite_autoindex_stock_research_reports_1 ON public.stock_research_reports USING btree (stock_code, report_name, report_date);


--
-- Name: idx_historical_quotes_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historical_quotes_code ON public.historical_quotes USING btree (code);


--
-- Name: idx_historical_quotes_collected_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historical_quotes_collected_date ON public.historical_quotes USING btree (collected_date);


--
-- Name: idx_historical_quotes_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_historical_quotes_date ON public.historical_quotes USING btree (date);


--
-- Name: idx_stock_realtime_quote_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_realtime_quote_name ON public.stock_realtime_quote USING btree (name);


--
-- Name: idx_stock_realtime_quote_update_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_stock_realtime_quote_update_time ON public.stock_realtime_quote USING btree (update_time);


--
-- Name: stock_realtime_quote fk_stock_realtime_quote_code; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_realtime_quote
    ADD CONSTRAINT fk_stock_realtime_quote_code FOREIGN KEY (code) REFERENCES public.stock_basic_info(code);


--
-- Name: price_alerts price_alerts_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.price_alerts
    ADD CONSTRAINT price_alerts_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: watchlist watchlist_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.watchlist
    ADD CONSTRAINT watchlist_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

